<h1 class="text-xl mb-4">Page A</h1>

<.link navigate={~p"/page_b"} class="text-blue-500 underline ">Page B</.link>
<br/>
<.link navigate={~p"/page_c/tab_1"} class="text-blue-500 underline ">Page C / Tab 1</.link>

