<h1 class="text-xl mb-4">Page B</h1>

<.link navigate={~p"/page_a"} class="text-blue-500 underline ">Page A</.link>
<br/>
<.link navigate={~p"/page_c/tab_2"} class="text-blue-500 underline ">Page C / Tab 2</.link>

